@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,300);
@import url(https://raw.github.com/necolas/normalize.css/master/normalize.css);
/**
* Set up reusable colors
*/
/**
* Colors from Flat UI
* Source: http://flatuicolors.com
*/
* {
  box-sizing: border-box;
}
/**
* This can be extended to anything to make it get slightly bigger on hover,
* which is a pretty commonly desired effect
*/
.big-on-hover {
  transform: scale(1, 1);
}
.big-on-hover:hover {
  transform: scale(1.2, 1.2);
}

/**
* Reusable single-direction margin declaration
*/
.margin,
p,
.flag {
  margin-top: 0;
  margin-bottom: 24px;
}
.margin:last-child,
p:last-child,
.flag:last-child {
  margin-bottom: 0;
}

/**
* Flag Object
* Original Source: http://csswizardry.com/2013/05/the-flag-object/
*/
.flag {
  display: table;
  width: 100%;
}

.flag__image,
.flag__body {
  display: table-cell;
  vertical-align: middle;
}
.flag--top .flag__image,
.flag--top .flag__body {
  vertical-align: top;
}
.flag--bottom .flag__image,
.flag--bottom .flag__body {
  vertical-align: bottom;
}

.flag__image {
  padding-right: 0px;
}
.flag__image > img {
  display: block;
  max-width: none;
}
.flag--rev .flag__image {
  padding-right: 0;
  padding-left: 24px;
}

.flag__body {
  width: 100%;
}

/**
* Notification Styles
*/
.note {
  position: relative;
  overflow: hidden;
  color: #577696;
  background-color: white;
  box-shadow: 0 0 5px #9b9b9b;
}

.note--secondary {
  background-color: #263238;
}

.note--success {
  background-color: #4caf50;
}

.note--warning {
  background-color: #ffc107;
}

.note--error {
  background-color: #d50000;
}

.note--info {
  background-color: #03a9f4;
}

.note__icon,
.note__text {
  padding: 0px;
}

.note__icon {
  color: white;
  min-width: 80px;
  text-align: center;
  font-size: 32px;
  font-size: 2rem;
  background-color: #00a9e5;
}

.note_red__icon {
  color: white;
  min-width: 80px;
  text-align: center;
  font-size: 32px;
  font-size: 2rem;
  background-color: #df4848;
}

.icon_color {
  color: red;
  min-width: 55px;
  text-align: center;
  font-size: 20px !important;
  position: relative;
  bottom: 0px;
}

.status-items {
  position: relative;
  margin-left: 15px;
  bottom: 10px;

}

.close-status{
  margin-top: 0px !important;
}



.note__text {
  padding-left: 18px;
  font-size: 18px;
}

.note_red_text {
  padding-left: 18px;
  font-size: 18px;
  color: #df4848;
}

.note__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 29px;
  line-height: 30px;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.25s;
}
.note__close:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.note:hover .note__close {
  opacity: 1;
}
