<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Kanit:300,400,500,500i,600,900%7CRoboto:400,900">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/style.css" id="main-styles-link">
    <link rel="stylesheet" href="/static/css/globalStyling.css">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }
    </style>
</head>
<body>
    <header class="section page-header rd-navbar-dark">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="166px" data-xl-stick-up-offset="166px" data-xxl-stick-up-offset="166px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-panel">
                    <!-- RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-main"><span></span></button>
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel-inner container">
                        <div class="rd-navbar-collapse rd-navbar-panel-item rd-navbar-panel-item-left">
                            <!-- Owl Carousel-->
                            <div class="owl-carousel-navbar owl-carousel-inline-outer p-0 pt-md-1">
                                <div class="owl-carousel-inline-wrap">
                                    <div>
                                        <!-- Post Inline-->
                                        <article class="post-inline">
                                            <time class="post-inline-time text_green" datetime="2020"><a href="" data-toggle="modal" data-target="#modal1" class="text_green"> Click here </a> </time>
                                            <p class="post-inline-title">
                                            for Covid 19 policy</p>
                                        </article>
                           
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rd-navbar-panel-item rd-navbar-panel-item-right">
                            <ul class="list-inline list-inline-bordered f_small">
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i> <span>Contact Support</span>
                                </li>
                                <li>
                                    <div class="cart-inline-toggled-outer">
                                        <!-- Link Cart-->
                                        <a href="/cart/ " class="link link-cart"><span class="link-cart-icon fl-bigmug-line-shopping202 cart-value"></span></a><a href="/cart/"></a>
                                        <!-- Cart Inline-->
                                        <article class="cart-inline cart-inline-toggled" id="cart-inline">
                                            <div class="cart-inline-inner">
                                                <div class="cart-inline-header">
                                                    <h5 class="cart-inline-title">In cart: 2 products</h5>
                                                    <p class="cart-inline-subtitle">total price: $750</p>
                                                </div>
                                                <div class="cart-inline-main">
                                                    <!-- Product inline-->
                                                    <article class="product-inline">
                                                        <div class="product-inline-aside"><a class="product-inline-figure" href="product-page.html"><img class="product-inline-image" src="/static/images/product-Nike-Air-Zoom-Pegasus-67x30.png" alt="" width="67" height="30"></a></div>
                                                        <div class="product-inline-main">
                                                            <p class="heading-7 product-inline-title"><a href="product-page.html">Nike Air Zoom Pegasus</a></p>
                                                            <ul class="product-inline-meta">
                                                                <li>
                                                                    <div class="stepper "><input class="form-input stepper-input" type="number" data-zeros="true" value="2" min="1" max="100"><span class="stepper-arrow up"></span><span class="stepper-arrow down"></span></div>
                                                                </li>
                                                                <li>
                                                                    <p class="product-inline-price">$500.00</p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </article>
                                                    <!-- Product inline-->
                                                    <article class="product-inline">
                                                        <div class="product-inline-aside"><a class="product-inline-figure" href="product-page.html"><img class="product-inline-image" src="/static/images/product-Nike-Baseball-Hat-55x38.png" alt="" width="55" height="38"></a></div>
                                                        <div class="product-inline-main">
                                                            <p class="heading-7 product-inline-title"><a href="product-page.html">Nike Baseball Hat</a></p>
                                                            <ul class="product-inline-meta">
                                                                <li>
                                                                    <div class="stepper "><input class="form-input stepper-input" type="number" data-zeros="true" value="1" min="1" max="100"><span class="stepper-arrow up"></span><span class="stepper-arrow down"></span></div>
                                                                </li>
                                                                <li>
                                                                    <p class="product-inline-price">$250.00</p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </article>
                                                </div>
                                                <div class="cart-inline-footer">
                                                    <a class="button button-md button-default-outline" href="shopping-cart.html">Go to Cart</a><a class="button button-md button-primary" href="checkout.html">Checkout</a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </li>
                                {% if not login %}
                                <li>
                                    <a class="link link-icon link-icon-left link-classic" href="/login/"><span class="icon fl-bigmug-line-login12"></span><span class="link-icon-text">Login</span></a>
                                </li>
                                {% else %}
                                <li><a class="rd-nav-link" href="#">Profile</a>
                                    <ul class="rd-menu rd-navbar-dropdown">
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                        href="/profile/">My Profile</a>
                                        </li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                        href="/document/">Document</a>
                                        </li>
                                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" onclick="signOut()"><span
                                                class="link-icon-text">Logout</span></a>
                                        </li>
                                    </ul>
                                </li>
                                {% endif %}

                                <!--                    <li><a class="link link-icon link-icon-left link-classic" onclick="signOut()"><span class="icon fl-bigmug-line-login12"></span><span class="link-icon-text">Logout</span></a></li>-->

                            </ul>
                        </div>
                        <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                    </div>
                </div>
                <div class="rd-navbar-main">
                    <div class="rd-navbar-main-top">
                        <div class="rd-navbar-main-container container">
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand">
                                <a class="brand" href="../landing"><img class="brand-logo " src="/static/images/first_kick_logo.png" alt="" width="95" height="126" /></a>
                            </div>
                            <!-- RD Navbar List-->
                            <ul class="rd-navbar-list my_list">
                                <li class="rd-navbar-list-item"><a class="rd-navbar-list-link" href="#"><img src="/static/images/main/2.png" alt="" width="95" height="42" /></a></li>
                                <li class="rd-navbar-list-item"><a class="rd-navbar-list-link" href="#"><img src="/static/images/main/5.png" alt="" width="84" height="45" style="margin-left:11px" /></a></li>
                                <li class="rd-navbar-list-item"><a class="rd-navbar-list-link" href="#"><img src="/static/images/main/11.png" alt="" width="75" height="52" /></a></li>
                                <li class="rd-navbar-list-item"><a class="rd-navbar-list-link" href="#"><img src="/static/images/main/12.png" alt="" width="120" height="89" /></a></li>
                            </ul>
                            <!-- RD Navbar Search-->
                            <div class="rd-navbar-search">
                                <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"><span></span></button>
                                <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                                    <div class="form-wrap">
                                        <label class="form-label" for="rd-navbar-search-form-input">Enter your search request here...</label>
                                        <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off">
                                        <div class="rd-search-results-live" id="rd-search-results-live"></div>
                                    </div>
                                    <button class="rd-search-form-submit fl-budicons-launch-search81" type="submit"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-main-bottom rd-navbar-darker">
                        <div class="rd-navbar-main-container container">
                            <!-- RD Navbar Nav-->
                            <ul class="rd-navbar-nav">
                                <li class="rd-nav-item active">
                                    <a class="rd-nav-link" href="/">Home</a>
                                </li>
                                {% if login %}
                                <li class="rd-nav-item"><a class="rd-nav-link" href="/dashboard/">Dashboard</a>
                                </li>
                                {% endif %}
                                <li class="rd-nav-item">
                                    <a class="rd-nav-link" href="/courses/">Courses</a>
                                </li>
                                {% if login %}
                                <li class="rd-nav-item" id="student-menu"><a class="rd-nav-link" href="/student_list/">Student</a>
                                </li>
                                <li class="rd-nav-item addstudent" id="student-add-menu"><a class="rd-nav-link" href="/booked_courses_page/">Map student to course</a>
                                </li>
                                {% endif %}
                                <li class="rd-nav-item">
                                    <a class="rd-nav-link" href="/shop/">Shop</a>
                                </li>
                            </ul>
                            <div class="rd-navbar-main-element">
                                <ul class="list-inline list-inline-sm">
                                    <li><a class="icon icon-xs icon-light fa fa-facebook" href="https://www.facebook.com/FirstKickFootball/" target="_blank"></a></li>
                                    <li><a class="icon icon-xs icon-light fa fa-twitter" href="https://twitter.com/first_kick" target="_blank"></a></li>
                                    <li><a class="icon icon-xs icon-light fa fa-youtube" href="https://www.youtube.com/channel/UC6QoP9w0Z7PIsyfaT5E-eCA/videos" target="_blank"></a></li>
                                    <li><a class="icon icon-xs icon-light fa fa-instagram" href="https://www.instagram.com/firstkickfootball_/" target="_blank"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    

    <script src="/static/js/core.min.js"></script>
    <script src="/static/js/script.js"></script>
    <script>
        $(document).ready(function () {
           $(".rd-navbar-submenu a").click(function(event) {
             $(".rd-menu.rd-navbar-dropdown.rd-navbar-open-right").toggleClass('open_mobile');
           });
         });
     </script>
</body>
</html>