<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
  <!-- Site Title-->
  <title>Home</title>
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
  <!-- Stylesheets-->
  <link rel="stylesheet" type="text/css"
    href="//fonts.googleapis.com/css?family=Kanit:300,400,500,500i,600,900%7CRoboto:400,900">
  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/fonts.css">
  <link rel="stylesheet" href="/static/css/style.css" id="main-styles-link">
    <link rel="stylesheet" href="/static/css/globalStyling.css">
  <style>
    .ie-panel {
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
      clear: both;
      text-align: center;
      position: relative;
      z-index: 1;
    }

    html.ie-10 .ie-panel,
    html.lt-ie-10 .ie-panel {
      display: block;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
  <!--    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="/static/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>-->
  <div class="preloader">
    <div class="preloader-body">
      <div class="preloader-item"></div>
    </div>
  </div>
  <!-- Page-->
  <div class="page">
    <!-- Page Header-->
    {% include 'header.html' %}
    <!-- Swiper-->
    <section class="section swiper-container swiper-slider swiper-classic bg-gray-2" data-loop="true"
      data-autoplay="4000" data-simulate-touch="false" data-slide-effect="fade">
      <div class="swiper-wrapper">
        <div class="swiper-slide text-center" data-slide-bg="static/images/banner/Slider1.png">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-6">
                <div class="swiper-slide-caption">
                  <h1 data-caption-animate="fadeInUp" data-caption-delay="100">FOOTBALL & MULTI-SPORT
                    HOLIDAY CLUB</h1>
                  <h4 data-caption-animate="fadeInUp" data-caption-delay="200">
                    Open Every Half-Term for All Primary School Children.
                  </h4>
                  <a class="button button-primary" data-caption-animate="fadeInUp" data-caption-delay="300"
                    href="https://firstkick.co.uk/courses/">
                    BOOK NOW
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-slide-bg="static/images/banner/Slider2.png">
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-xl-5">
                <div class="swiper-slide-caption">
                  <h1 data-caption-animate="fadeInUp" data-caption-delay="100">FOOTBALL CLASSES </h1>
                  <h4 data-caption-animate="fadeInUp" data-caption-delay="200">
                    Catering for All Primary School Ages and Abilities.
                  </h4>
                  <a class="button button-primary" data-caption-animate="fadeInUp" data-caption-delay="300"
                    href="https://firstkick.co.uk/courses/">
                    BOOK NOW
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide mobile-pos" data-slide-bg="static/images/banner/Slider3.png">
          <div class="container">
            <div class="row">
              <div class="col-xl-5">
                <div class="swiper-slide-caption">
                  <h1 data-caption-animate="fadeInUp" data-caption-delay="100">NURSERY FOOTBALL
                    CLASSES </h1>
                  <h4 data-caption-animate="fadeInUp" data-caption-delay="200">
                    A Fun, Pressure Free Introduction to Football For 18 months to 5 Years-Old.
                  </h4>
                  <a class="button button-primary" data-caption-animate="fadeInUp" data-caption-delay="300"
                    href="https://firstkick.co.uk/courses/">
                    BOOK NOW
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button swiper-button-prev"></div>
      <div class="swiper-button swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </section>
    <!-- About Us :: Set  -->
    <div class="bg-dark-new" id="about_us_section"></div>
    <section class="dark_1  pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="text-white">ABOUT US</h3>
            <p>
              First Kick was developed to provide children aged 18 months – 12 years old of all abilities
              with fun football and multi-sport experiences. Using the UK’s passion for sport, First Kick
              look to develop each child, delivering experiences and memories that will last for a
              lifetime.
            </p>
            <p>
              The programmes are delivered by coaches of the highest quality and those that make sessions
              enjoyable for all primary school aged children that attend First Kick sessions.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- About Us :: End  -->
    <!-- Avalable Courses & Class :: Set -->
   
    <!-- Avalable Courses & Class :: End -->
    <section class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mt-5">
            <h3 class="mb-0 s_title btm_1 mt-2">AVAILABLE COURSES & CLASSES</h3>
          </div>
        </div>
        <div class="row mt-0">
          <div class="col-md-4 mt-5">
            <img src="static/images/main/football classes.png" class="img-fluid" alt="img" />
            <h5 class="title_4">WEEKLY FOOTBALL CLASSES</h5>
            <p>
              Provides structured “Fun through
              Football” sessions for children aged
              4-11 years old.
            </p>
            <p>
              We teach correct football
              techniques, building confidence for
              total beginners and moving onto
              more complex sessions for
              experienced players.
            </p>
            <a class="button button-primary" href="https://firstkick.co.uk/courses/">
              BOOK NOW
            </a>
          </div>
          <div class="col-md-4 mt-5">
            <img src="static/images/main/FootballMulti-sportholiday.png" class="img-fluid" alt="img" />
            <h5 class="title_4">FOOTBALL & MULTISPORT HOLIDAY CLUB</h5>

            <p>
              NGB qualified coaches provide a
              fun, pressure free environment.
              Morning coaching drills, working on
              different aspects of a multitude of
              sports, followed by a tournament
              every afternoon.

            </p>
            <p>
              There are medals and trophies
              awarded daily.
            </p>
            <a class="button button-primary" href="https://firstkick.co.uk/courses/">
              BOOK NOW
            </a>
          </div>
          <div class="col-md-4 mt-5">
            <img src="static/images/main/Preschool_Nursery football classes.png" class="img-fluid" alt="img" />
            <h5 class="title_4">PRE-SCHOOL/NURSERY CLASSES</h5>
            <p>
              Our programmes incorporate fun
              games, stories and music, enabling
              coaches to use disguised learning
              techniques. This teaches children key
              motor, social and psychological skills
              whilst working on Agility, Balance and
              Co-ordination (ABC’s).
            </p>
            <p>
              In addition to preparing them for
              school life working on numbers and
              colours, children will learn to develop
              important social skills throughout,
              such as sharing, taking turns and
              listening.
            </p>
            <a class="button button-primary" href="https://firstkick.co.uk/courses/">
              BOOK NOW
            </a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12 mt-5">
            <h3 class="mb-0 s_title">PARTIES (NERF AND FOOTBALL)</h3>
          </div>
        </div>
        <div class="row mt-4 ml-0 mr-0">

          <div class="col-md-5 pr-0 mybg" style="background:url(static/images/main/Parties.png)">
          </div>
          <img src="static/images/main/Parties.png" class="img-fluid d-md-none d-block" />

          <div class="col-md-7 colored_bg pb-4">
            <div class="ml-xl-4">
              <h5 class="mt-4">
                Are you looking for an unforgettable Birthday Party?
              </h5>
              <p>
                Are you looking for an unforgettable Birthday Party? Make it a
                day to remember with First Kick!
              </p>
              <p>
                We have Football, Nerf and Mix and Match (Football & Nerf)
                options available.
              </p>
              <p>
                Our parties are 2-hours of non-stop FUN!

              </p>
              <ul class="mt-3">
                <li>
                  • FA qualified and experienced party coaches
                </li>
                <li>
                  • Invites
                </li>
                <li>
                  • Medals and Trophies
                </li>

              </ul>
              <p>
                What are you waiting for? Call us on <b><a href="tel:01772428086" class="link-st">01772
                    428086</a></b> to book.
              </p>
              <a class="button button-primary"
                href="https://docs.google.com/forms/d/1XDXsFBIIZYA86V5aHihyjGXlKJ4bKOm0XpDXVCYQkP8" target="_blank">
                BOOK NOW
              </a>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mt-5">
            <h3 class="mb-0 s_title mt_up">BROWSE WHAT'S IN STORE</h3>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-12">
            <div class="row row-30">
              <div class="col-sm-6 col-lg-3">
                <!-- Product - Grid build-->
                <article class="product product-sm">
                  <header class="product-header">
                    <div class="product-figure"><img src="static/images/main/k1.png" alt="" /></div>
                    <div class="product-buttons">
                      <div class="product-button product-button-share fl-bigmug-line-share27" style="font-size: 22px">
                        <ul class="product-share">
                          <li class="product-share-item"><span>Share</span></li>
                          <li class="product-share-item"><a class="icon fa fa-facebook" href="#"></a></li>
                          <li class="product-share-item"><a class="icon fa fa-instagram" href="#"></a></li>
                          <li class="product-share-item"><a class="icon fa fa-twitter" href="#"></a></li>
                          <li class="product-share-item"><a class="icon fa fa-google-plus" href="#"></a></li>
                        </ul>
                      </div><a class="product-button fl-bigmug-line-shopping202" href="shopping-cart.html"
                        style="font-size: 26px"></a><a class="product-button fl-bigmug-line-zoom60"
                        href="static/images/shop/product-1-original.jpg" data-lightgallery="item" style="font-size: 25px"></a>
                    </div>
                  </header>
                  <footer class="product-content">
                    <h6 class="product-title"><a href="product-page.html">Nike hoops elite
                        backpack</a></h6>
                    <div class="product-price">
                      <span class="product-price-old">$400</span><span class="heading-6 product-price-new">$290</span>
                    </div>
                    <ul class="product-rating">
                      <li><span class="material-icons-star"></span></li>
                      <li><span class="material-icons-star"></span></li>
                      <li><span class="material-icons-star"></span></li>
                      <li><span class="material-icons-star"></span></li>
                      <li><span class="material-icons-star_half"></span></li>
                    </ul>
                  </footer>
                </article>
              </div>
              <div class="col-sm-6 col-lg-3">
                <!-- Product - Grid build-->
                <article class="product product-sm">
                  <header class="product-header">

                    <div class="product-figure"><img src="static/images/main/k2.png" alt="" /></div>
                    <div class="product-buttons">
                      <div class="product-button product-button-share fl-bigmug-line-share27" style="font-size: 22px">
                        <ul class="product-share">
                          <li class="product-share-item"><span>Share</span></li>
                          <li class="product-share-item"><a class="icon fa fa-facebook" href="#"></a></li>
                          <li class="product-share-item"><a class="icon fa fa-instagram" href="#"></a></li>
                          <li class="product-share-item"><a class="icon fa fa-twitter" href="#"></a></li>
                          <li class="product-share-item"><a class="icon fa fa-google-plus" href="#"></a></li>
                        </ul>
                      </div><a class="product-button fl-bigmug-line-shopping202" href="shopping-cart.html"
                        style="font-size: 26px"></a><a class="product-button fl-bigmug-line-zoom60"
                        href="static/images/shop/product-2-original.jpg" data-lightgallery="item" style="font-size: 25px"></a>
                    </div>
                  </header>
                  <footer class="product-content">
                    <h6 class="product-title"><a href="product-page.html">Nike Air Zoom Pegasus</a>
                    </h6>
                    <div class="product-price">
                      <span class="heading-6 product-price-new">$290</span>
                    </div>
                    <ul class="product-rating">
                      <li><span class="material-icons-star"></span></li>
                      <li><span class="material-icons-star"></span></li>
                      <li><span class="material-icons-star"></span></li>
                      <li><span class="material-icons-star"></span></li>
                      <li><span class="material-icons-star_half"></span></li>
                    </ul>
                  </footer>
                </article>
              </div>
              <div class="col-sm-6 col-lg-3">
                <!-- Product - Grid build-->
                <article class="product product-sm">
                  <header class="product-header">
                    <div class="product-figure"><img src="static/images/main/k3.png" alt="" /></div>
                    <div class="product-buttons">
                      <div class="product-button product-button-share fl-bigmug-line-share27" style="font-size: 22px">
                        <ul class="product-share">
                          <li class="product-share-item"><span>Share</span></li>
                          <li class="product-share-item"><a class="icon fa fa-facebook" href="#"></a></li>
                          <li class="product-share-item"><a class="icon fa fa-instagram" href="#"></a></li>
                          <li class="product-share-item"><a class="icon fa fa-twitter" href="#"></a></li>
                          <li class="product-share-item"><a class="icon fa fa-google-plus" href="#"></a></li>
                        </ul>
                      </div><a class="product-button fl-bigmug-line-shopping202" href="shopping-cart.html"
                        style="font-size: 26px"></a><a class="product-button fl-bigmug-line-zoom60"
                        href="static/images/shop/product-3-original.jpg" data-lightgallery="item" style="font-size: 25px"></a>
                    </div>
                  </header>
                  <footer class="product-content">
                    <h6 class="product-title"><a href="product-page.html">Nike distressed baseball
                        hat</a></h6>
                    <div class="product-price">
                      <span class="heading-6 product-price-new">$290</span>
                    </div>
                    <ul class="product-rating">
                      <li><span class="material-icons-star"></span></li>
                      <li><span class="material-icons-star"></span></li>
                      <li><span class="material-icons-star"></span></li>
                      <li><span class="material-icons-star"></span></li>
                      <li><span class="material-icons-star_half"></span></li>
                    </ul>
                  </footer>
                </article>
              </div>
              <div class="col-sm-6 col-lg-3">
                <!-- Product - Grid build-->
                <article class="product product-sm">
                  <header class="product-header">
                    <div class="product-figure"><img src="static/images/main/k4.png" alt="" /></div>
                    <div class="product-buttons">
                      <div class="product-button product-button-share fl-bigmug-line-share27" style="font-size: 22px">
                        <ul class="product-share">
                          <li class="product-share-item"><span>Share</span></li>
                          <li class="product-share-item"><a class="icon fa fa-facebook" href="#"></a></li>
                          <li class="product-share-item"><a class="icon fa fa-instagram" href="#"></a></li>
                          <li class="product-share-item"><a class="icon fa fa-twitter" href="#"></a></li>
                          <li class="product-share-item"><a class="icon fa fa-google-plus" href="#"></a></li>
                        </ul>
                      </div><a class="product-button fl-bigmug-line-shopping202" href="shopping-cart.html"
                        style="font-size: 26px"></a><a class="product-button fl-bigmug-line-zoom60"
                        href="static/images/shop/product-grid-41-original.jpg" data-lightgallery="item"
                        style="font-size: 25px"></a>
                    </div>
                  </header>
                  <footer class="product-content">
                    <h6 class="product-title"><a href="product-page.html">Apple watch nike+</a></h6>
                    <div class="product-price">
                      <span class="heading-6 product-price-new">$290</span>
                    </div>
                    <ul class="product-rating">
                      <li><span class="material-icons-star"></span></li>
                      <li><span class="material-icons-star"></span></li>
                      <li><span class="material-icons-star"></span></li>
                      <li><span class="material-icons-star"></span></li>
                      <li><span class="material-icons-star_half"></span></li>
                    </ul>
                  </footer>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12 mt-5">
            <h3 class="mb-0 s_title mt-4">AVAILABLE JOB VACANCIES</h3>
          </div>
        </div>
        <div class="row mt-4 ml-0 mr-0">

          <div class="col-md-6 pr-0 mybg" style="background:url(static/images/main/c1.png)">
          </div>
          <img src="static/images/main/c1.png" class="img-fluid d-md-none d-block" />
          <div class="col-md-6 colored_bg pb-4">
            <div class="ml-xl-4">
              <h3 class="mt-4">
                JOIN OUR TEAM
              </h3>
              <p>
                We are always looking for passionate and
                qualified coaches to join our fast growing team.
              </p>

              <p>
                Current vacancies in Manchester
                and Greater Manchester:


              </p>
              <ul class="mt-3">

                <li>
                  • Head coach

                </li>
                <li>
                  • Assisting coach
                </li>

              </ul>

              <a class="button button-primary"
                href="https://docs.google.com/forms/d/1gLRSV3RyQo8tHwYVMidXIq_36h9s9OfBWO81ca5pFVA/" target="_blank">
                APPLY NOW
              </a>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="mb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mt-5">
            <h3 class="mb-0 s_title mt-4">PARTNERS & MEMBERS OF</h3>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <ul class="list-inline">
              <li class="list-inline-item">
                <img src="static/images/main/Accentia Franchise.png" alt="img" class="img-fluid" width="180" />
              </li>
              <li class="list-inline-item">
                <img src="static/images/main/UEFA.png" alt="img" class="img-fluid" width="100" />
              </li>
              <li class="list-inline-item">
                <img src="static/images/main/Dodgeball.png" alt="img" class="img-fluid" width="100" />
              </li>
              <li class="list-inline-item">
                <img src="static/images/main/FA Coaches Club.jpg" alt="img" class="img-fluid" width="170" />
              </li>

            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Page Footer-->
    {% include 'footer.html' %}
  
  <!-- Global Mailform Output-->
  <div class="snackbars" id="form-output-global"></div>
  <!-- Javascript-->
  <script src="/static/js/core.min.js"></script>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/authentication/auth.js"></script>
  <script src="/static/js/permissions/permission.js"></script>
  <script>
     $(document).ready(function () {
        $(".rd-navbar-submenu a").click(function(event) {
          $(".rd-menu.rd-navbar-dropdown.rd-navbar-open-right").toggleClass('open_mobile');
        });
      });
  </script>
</body>

</html>