{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
    <!-- Site Title-->
    <title>Profile</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="google-signin-client_id"
        content="912979131888-dbcvct33u7aja0i4odm79qf7o5u7i2ru.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Kanit:300,400,500,500i,600,900%7CRoboto:400,900">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/style.css" id="main-styles-link">
    <link rel="stylesheet" href="/static/css/globalStyling.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel,
        html.lt-ie-10 .ie-panel {
            display: block;
        }

        #imageUpload {
            display: none;
        }

        #profileImage {
            cursor: pointer;
        }

        #profile-container {
            width: 150px;
            height: 150px;
            overflow: hidden;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
        }

        #profile-container img {
            width: 150px;
            height: 150px;
        }

        .modal-confirm {
            color: #636363;
            width: 325px;
            font-size: 14px;
        }

        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
        }

        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -15px;
        }

        .modal-confirm .form-control,
        .modal-confirm .btn {
            min-height: 40px;
            border-radius: 3px;
        }

        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -5px;
        }

        .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
        }

        .modal-confirm .icon-box {
            color: #fff;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: -70px;
            width: 95px;
            height: 95px;
            border-radius: 50%;
            z-index: 9;
            background: #82ce34;
            padding: 15px;
            text-align: center;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        }

        .modal-confirm .icon-box i {
            font-size: 58px;
            position: relative;
            top: 3px;
        }

        .modal-confirm.modal-dialog {
            margin-top: 80px;
        }

        .modal-confirm .btn {
            color: #fff;
            border-radius: 4px;
            background: #82ce34;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border: none;
        }

        .modal-confirm .btn:hover,
        .modal-confirm .btn:focus {
            background: #6fb32b;
            outline: none;
        }

        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }

        .profile_data {
            margin-top: 0px !important;
        }

        .col-form-label {
            color: black !important;
        }
    </style>
</head>

<body>
    <!--    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>-->
    <div class="preloader">
        <div class="preloader-body">
            <div class="preloader-item"></div>
        </div>
    </div>
    <!-- Page-->
    <div class="page">
        <!-- Page Header-->
        {% include 'header.html' %}

        <section class="section section-variant-1 bg-gray-100" id="login-div">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-9">
                        <h5 style="text-align:center; color:#3A5674">Profile</h5>
                        <form class="rd-form rd-mailform" id="update-password" data-form-output="form-output-global">
                            <div class="row profile_set_input">
                                <div class="col-md-6">
                                    <div class="pd__">
                                        <div class="">
                                            <input type="hidden" name="user_id" id="userId" value="">
                                            <div class="form-wrap">
                                                <center>
                                                    <div id="profile-container">
                                                        <image id="profileImage" src="/media/avatars/profile.png" />
                                                    </div>
                                                    <label class="col-form-label">Upload Image <span
                                                            style="color:red;">*</span></label>
                                                </center>
                                                <input class="form-input" id="imageUpload" type="file" name="image"
                                                    maxlength="50" autocomplete="off" data-constraints="@Required"
                                                    capture>
                                            </div>

                                        </div>
                                        <div class="text-center" style="margin-bottom: 8px;">
                                            <a href="#" onclick="allowEdit();" class="edit_profile_set">
                                                <span style="color: #577696;">Edit</span></a>
                                        </div>
                                        <div class="form-wrap text-center" style="margin-bottom: 15px;">
                                            <a href="#changePasswordModal" class="btn btn-primary"
                                                data-toggle="modal">Change
                                                password
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="pd__">
                                        <div class="">
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-4 col-form-label">Email:</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control-plaintext" id="email"
                                                        name="email" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="first_name" class="col-sm-4 col-form-label">First name:</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control-plaintext" id="first_name"
                                                    name="first_name" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="last_name" class="col-sm-4 col-form-label">Last name:</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control-plaintext" id="last_name"
                                                    name="last_name" readonly>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="mobile" class="col-sm-4 col-form-label">Mobile:</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control-plaintext" id="mobile"
                                                    name="mobile" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="landline" class="col-sm-4 col-form-label">Phone:</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control-plaintext" id="landline"
                                                    name="landline" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="address" class="col-sm-4 col-form-label">Address:</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control-plaintext" id="address" name="address"
                                                    readonly>
                                      </textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="post_code" class="col-sm-4 col-form-label">Postcode:</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control-plaintext" id="post_code"
                                                    name="post_code" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>




                            <!-- <div class="row profile_data coachfile" style="display:none;">
                                <div class="col-md-4">
                                    <div class="form-wrap row">
                                        <label for="address" class="col-sm-3 col-form-label">Upload:</label>
                                        <div class="col-sm-9">
                                            <input class="form-control-plaintext" id="documents" type="file"
                                                name="documents" maxlength="10" data-constraints="@Required" multiple>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="row profile_data">
                                <div class="col-md-4">
                                    <div class="form-wrap">
                                        <a href="#changePasswordModal" class="btn btn-primary mb-4"
                                            data-toggle="modal">Change
                                            password
                                        </a>
                                                                         <label class="form-label" for="password">Password <span style="color:red;">*</span></label>
                                                                         <input class="form-input" id="password" type="password" name="password" minlength="12" maxlength="20" onKeyUp="checkPasswordStrength();" data-constraints="@Required">
                                    </div>
                                </div>
                            </div> -->
                            <div class="row profile_data">
                                <div class="col-md-9">

                                </div>
                                <div class="col-md-3" style="float:right;">
                                    <button type="submit"
                                        class="button button-lg button-primary button-block save_password"
                                        style="float:right;background-color: #9b9b9b;border-color: #9b9b9b;">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3 margin_left_0 reviews_setting">
                        <h4 class="t_heading">Rating Alerts</h4>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="profile">
                                            <li>
                                                <h5>Excellent</h5>
                                            </li>
                                            <li>
                                                <ul class="d-flex justify-content-center star">
                                                    <li><i class="text-warning fa fa-star"></i></li>
                                                    <li><i class="text-warning fa fa-star"></i></li>
                                                    <li><i class="text-warning fa fa-star"></i></li>
                                                    <li><i class="text-warning fa fa-star"></i></li>
                                                    <li><i class="text-warning fa fa-star"></i></li>
                                                </ul>
                                            </li>
                                            <li><strong>4,87</strong> <span>Average</span> <strong>1325</strong>
                                                <span>Reviews</span>
                                            </li>
                                            <li><a href="#"><i class="text-warning fa fa-star"></i> Reviews</a></li>
                                        </ul>
                                        <div class="user_profile d-flex justify-content-between">
                                            <div>
                                                <a class="float-left"
                                                    href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Akash</strong>
                                                </a>
                                                <span class="float-left"><i class="text-warning fa fa-star"></i></span>
                                                <span class="float-left"><i class="text-warning fa fa-star"></i></span>
                                                <span class="float-left"><i class="text-warning fa fa-star"></i></span>
                                                <span class="float-left"><i class="text-warning fa fa-star"></i></span>
                                            </div>
                                            <div class="date_rev">
                                                <span>27th of jan 2021 9:51AM</span>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into
                                            electronic typesetting, remaining essentially unchanged. It was
                                            popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <!-- <p>
                                        <a class="float-right btn btn-outline-primary ml-2"> <i
                                                class="fa fa-reply"></i> Reply</a>
                                        <a class="float-right btn text-white btn-danger"> <i
                                                class="fa fa-heart"></i> Like</a>
                                    </p> -->
                                        <div class="user_profile d-flex justify-content-between">
                                            <div>
                                                <a class="float-left"
                                                    href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Akash</strong>
                                                </a>
                                                <span class="float-left"><i class="text-warning fa fa-star"></i></span>
                                                <span class="float-left"><i class="text-warning fa fa-star"></i></span>
                                                <span class="float-left"><i class="text-warning fa fa-star"></i></span>
                                                <span class="float-left"><i class="text-warning fa fa-star"></i></span>
                                            </div>
                                            <div class="date_rev">
                                                <span>27th of jan 2021 9:51AM</span>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into
                                            electronic typesetting, remaining essentially unchanged. It was
                                            popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <div class="user_profile d-flex justify-content-between">
                                            <div>
                                                <a class="float-left"
                                                    href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Akash</strong>
                                                </a>
                                                <span class="float-left"><i class="text-warning fa fa-star"></i></span>
                                                <span class="float-left"><i class="text-warning fa fa-star"></i></span>
                                                <span class="float-left"><i class="text-warning fa fa-star"></i></span>
                                                <span class="float-left"><i class="text-warning fa fa-star"></i></span>
                                            </div>
                                            <div class="date_rev">
                                                <span>27th of jan 2021 9:51AM</span>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into
                                            electronic typesetting, remaining essentially unchanged. It was
                                            popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <div class="user_profile d-flex justify-content-between">
                                            <div>
                                                <a class="float-left"
                                                    href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Akash</strong>
                                                </a>
                                                <span class="float-left"><i class="text-warning fa fa-star"></i></span>
                                                <span class="float-left"><i class="text-warning fa fa-star"></i></span>
                                                <span class="float-left"><i class="text-warning fa fa-star"></i></span>
                                                <span class="float-left"><i class="text-warning fa fa-star"></i></span>
                                            </div>
                                            <div class="date_rev">
                                                <span>27th of jan 2021 9:51AM</span>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into
                                            electronic typesetting, remaining essentially unchanged. It was
                                            popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--            <div class="row row-50 justify-content-center">-->
                <!--                <div class="col-md-10 col-lg-8 col-xl-6">-->
                <!--                    <div class="card-login-register" id="card-l-r">-->
                <!--                        <div class="card-top-panel">-->
                <!--                            <h5 class="card-title card-title-login">Profile</h5>-->
                <!--                        </div>-->
                <!--                        <div class="card-form">-->
                <!--                            <form class="rd-form rd-mailform" id="update-password1"-->
                <!--                                  data-form-output="form-output-global"-->
                <!--                                  onSubmit="return false;">-->


                <!--                                <div id="password-strength-status"></div>-->
                <!--                                &lt;!&ndash;                    <div class="form-wrap">&ndash;&gt;-->
                <!--                                &lt;!&ndash;                      <label class="form-label" for="form-login-password-3">Repeat Password</label>&ndash;&gt;-->
                <!--                                &lt;!&ndash;                      <input class="form-input" id="form-login-password-3" type="password" name="password" data-constraints="@Required">&ndash;&gt;-->
                <!--                                &lt;!&ndash;                    </div>&ndash;&gt;-->
                <!--                                <button type="submit" class="button button-lg button-primary button-block">-->
                <!--                                    Save-->
                <!--                                </button>-->
                <!--                            </form>-->
                <!--                            &lt;!&ndash;                  <div class="group-sm group-sm-justify group-middle"><a class="button button-google button-icon button-icon-left button-round" href="#"><span class="icon fa fa-google-plus"></span><span>Google+</span></a><a class="button button-twitter button-icon button-icon-left button-round" href="#"><span class="icon fa fa-twitter"></span><span>Twitter</span></a><a class="button button-facebook button-icon button-icon-left button-round" href="#"><span class="icon fa fa-facebook"></span><span>Facebook</span></a></div>&ndash;&gt;-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--            </div>-->
            </div>
        </section>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Success</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>Registered Successfully</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!--        <button type="button" class="btn btn-primary">Send message</button>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog"
            aria-labelledby="changePasswordLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordLabel">Change password</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-wrap">
                            <label class="form-label" for="old_password">Old Password <span
                                    style="color:red;">*</span></label>
                            <input class="form-input" id="old_password" type="password" name="old_password"
                                maxlength="50" autocomplete="off" data-constraints="@Required">
                        </div>
                        <div class="form-wrap">
                            <label class="form-label" for="new_password">New Password <span
                                    style="color:red;">*</span></label>
                            <input class="form-input" id="new_password" type="password" name="new_password"
                                maxlength="50" autocomplete="off" data-constraints="@Required">
                        </div>
                        <div class="form-wrap">
                            <label class="form-label" for="confirm_password">Confirm Password <span
                                    style="color:red;">*</span></label>
                            <input class="form-input" id="confirm_password" type="password" name="confirm_password"
                                maxlength="50" autocomplete="off" onChange="checkPasswordMatch();"
                                data-constraints="@Required">
                        </div>
                        <div class="registrationFormAlert" id="divCheckPasswordMatch">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="changePassword();" data-dismiss="modal">
                            Submit
                        </button>
                        <!--        <button type="button" class="btn btn-primary">Send message</button>-->
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <!--                <div class="modal-header">-->
                    <!--                    <div class="icon-box">-->
                    <!--                        <i class="material-icons">&#xE876;</i>-->
                    <!--                    </div>-->
                    <!--                    <h4 class="modal-title w-100">Awesome!</h4>-->
                    <!--                </div>-->
                    <div class="modal-body">
                        <p class="text-center">Password changed .</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Footer-->
        {% include 'footer.html' %}
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="/static/js/core.min.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/profile/profile.js"></script>
    <script src="/static/js/customer/customer.js"></script>
    <script src="/static/js/authentication/auth.js"></script>
    <script src="/static/js/permissions/permission.js"></script>
    <script src="/static/js/student/student_add.js"></script>

    <script>
        $("#profileImage").click(function (e) {
            $("#imageUpload").click();
        });

        function fasterPreview(uploader) {
            if (uploader.files && uploader.files[0]) {
                $('#profileImage').attr('src',
                    window.URL.createObjectURL(uploader.files[0]));
            }
        }

        $("#imageUpload").change(function () {
            fasterPreview(this);
        });



    </script>

</body>

</html>